header{
    background-color: aquamarine;/*cor de fundo*/
    color: black;/*cor da fonte*/
    text-align: center;
    max-width: 800px;
    margin: 0 auto ;
    padding: 16px;
    border: 5px solid blanchedalmond;
}
main{
    background-color: blanchedalmond;/*cor de fundo*/
    color: black;
    text-align: center; /*alinha o texto ao centro*/ 
    max-width: 800px;/*largura maxima*/
    margin: 0 auto ;/*espaçamento externo ao redor do elemento*/
    padding: 16px;/*espaçamento interno*/
    display: table-row;/*habilitar o uso de flex box*/
    flex-direction: row;/*orienta os elementos na horizontal na ordem 1, 2, 3, */
}   

footer{
    background-color: blanchedalmond;
    color: black;
    max-width: 800px;/*largura maxima*/
    display: flex;/*habilita o uso do flex box*/
    margin:0 auto;/*espaçamento interno ao redor do elemento*/
}   
img{
       width: 80px;/*largura*/
       height: 80px;/*largura*/
    }
    .artigo-autor {
        font-weight: bold;
    }