header{
    background-color: aquamarine;/*cor de fundo*/
    color: black;/*cor da fonte*/
    text-align: center;
    max-width: 800px;
    margin: 0 auto ;
    padding: 16px;
    border: 5px solid blanchedalmond;
}
main{
    background-color: blanchedalmond;
    color: black;
    text-align: center; /*alinha o texto ao centro*/ 
    max-width: 800px;/*largura maxima*/
    margin: 0 auto ;/*configura margens*/
}

footer{
    background-color: blanchedalmond;
    color: black;
}
    img{
       width: 80px;/*largura*/
       height: 80px;/*largura*/
    }