header{
    background-color: aquamarine;/*cor de fundo*/
    color: beige;/*cor da fonte*/

}
main{
    background-color: blanchedalmond;
    color: aqua;
    text-align: center; /*alinha o texto ao centro*/ 
    max-width: 800px;/*largura maxima*/
    margin: 0 auto ;/*configura margens*/
}

footer{
    background-color: burlywood;
    color: black;
}